.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 60px 0;
}

.product {
    /* background-color: lightcoral; */
    width: 80%;
    max-width: 1155px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.product-imgs {
    flex: 1;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    border-radius: 20px;
    max-height: 400px;
}

.product-imgs img {
    max-height: 400px;
}

.product-details-wrapper {
    /* background-color: lightgreen; */
    flex: 1;
}

.product-details {
    margin-left: 20px;
    /* background-color: blanchedalmond; */
}

.product-details h1 {
    font-size: 44px;
    font-weight: 600;
    font-family: Archivo;
}

.product-details p {
    font-size: 19px;
}

.product-details h2 {
    margin-top: 20px;
    font-size: 13px;
}
