
.product-img {
	width: 100%;
	/* background-color: aqua; */
	justify-content: center;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 3vh;
}

.product-imgs-wrapper {
	width: 50%;
}

.product-img img {
	object-fit: contain;
	width: auto;
	max-height: 400px;
}

@media screen and (max-width: 749px) {
	.product-imgs-wrapper {
		position: static;
		width: 100%;
	}
}
