
.product-details-wrapper {
	/* background-color: lightgreen; */
	width: 50%;
}

.product-details {
	margin-left: 20px;
	/* background-color: blanchedalmond; */
}

.product-details h1 {
	font-size: 25px;
	font-weight: 600;
	font-family: Archivo;
	overflow: hidden;
}

.product-details span {
	font-size: 19px;
}

.product-details h2 {
	margin-top: 20px;
	font-size: 13px;
}

.wide-button:first-of-type {
	margin-top: 15px;
}

.product-details p {
	font-size: 16px;
	line-height: 27px;
	margin-top: 20px;
	color: rgb(110, 121, 136);
}

@media screen and (max-width: 749px) {
	.product-details-wrapper {
		width: 100%;
	}
	.product-details {
		margin-left: 0;
	}
}
